body {
  font-family: system-ui;
  background: #f06d06;
  color: blue;
  text-align: center:!important;
}
ol {
  display: inline-block:!important;
  text-align: left:!important;
list-style-position:inside;
  padding: 0 !important;
}
